PORT=5000
MONGO_URI=your_mongodb_connection_string
NODE_ENV=development
FRONTEND_URL=https://inventory-management-liart-tau.vercel.app
FRONTEND_URLS=https://inventory-management-liart-tau.vercel.app
FIREBASE_PROJECT_ID=inventory-management-sys-be7ba
FIREBASE_CLIENT_EMAIL=your_firebase_admin_client_email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
SHOPIFY_API_KEY=your_shopify_api_key
SHOPIFY_API_SECRET=your_shopify_api_secret
SHOPIFY_SCOPES=read_products,write_products,read_inventory,write_inventory
SHOPIFY_REDIRECT_URI=https://inventory-management-7r95.onrender.com/shopify/callback
SHOPIFY_API_VERSION=2024-10
SHOPIFY_SUCCESS_REDIRECT=https://inventory-management-liart-tau.vercel.app/shopify
SHOPIFY_ERROR_REDIRECT=https://inventory-management-liart-tau.vercel.app/shopify/connect
